{% extends 'base.html.twig' %}

{% block hey %}
    <br><br><h1> Schedule your date </h1>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}

        {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('rendez_weather') }}" class="boxed_btn">CLICK HERE FOR TODAY's WEATHER</a>

{% endblock %}


