{% extends 'base.html.twig' %}

{% block hey %}
&nbsp  <section class="content" >
    &nbsp <div class="row" align="center">
        &nbsp  <div class="col-xs-12">
            &nbsp   <div class="box">
                <br></br>
                <div class="box-header"><center>
                        <h3 class="box-title" > &nbsp &nbsp &nbsp  APPOINTEMENT INFORMATION </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    &nbsp &nbsp &nbsp &nbsp    &nbsp  &nbsp <table id="example2"  class="table table-bordered table-hover"  >
                        <thead>
                        <tr>

                            &nbsp &nbsp &nbsp   &nbsp  <tbody align="center">

                        <tr>
                <th>nom</th>
                <td>{{ rendezvous.nom }}</td>
            </tr>
            <tr>
                <th>prenom</th>
                <td>{{ rendezvous.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
                    </table>
{% endblock %}
