
.idea
var
.idea/workspace.xml
var/logs/dev.log
var/cache/dev/twig/c4/c43e4b3389ce8e12709d1530f1beff7c1409920445ca25cb84dade650f909dd3.php
var/cache/dev/profiler/index.csv
var/logs/prod.log
.idea/workspace.xml
