# Cache and logs (Symfony2)
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep


# Managed by Composer
/var/bootstrap.php.cache


.idea/commandlinetools/Composer_2_13_20__8_16_PM_c.xml
.idea/commandlinetools/Composer_2_15_20__1_19_AM_c.xml
.idea/commandlinetools/Symfony_2_15_20__1_20_AM_s.xml
.idea/workspace.xml

var/cache/dev/annotations.map
var/cache/dev/appDevDebugProjectContainer.php
var/cache/dev/appDevDebugProjectContainer.php.meta
var/cache/dev/appDevDebugProjectContainer.xml
var/cache/dev/appDevDebugProjectContainer.xml.meta
var/cache/dev/appDevDebugProjectContainerCompiler.log
var/cache/dev/profiler/index.csv
var/logs/dev.log
var/logs/prod.log
var/cache/dev/annotations.map
var/cache/dev/appDevDebugProjectContainer.php
var/cache/dev/appDevDebugProjectContainer.php.meta
var/cache/dev/appDevDebugProjectContainer.xml
var/cache/dev/appDevDebugProjectContainer.xml.meta
var/cache/dev/appDevDebugProjectContainerCompiler.log
var/cache/dev/profiler/index.csv
var/logs/dev.log
var/logs/prod.log
.idea/PIDEV2020.iml
.idea/workspace.xml
var/logs/dev.log
var/cache/dev/appDevDebugProjectContainerDeprecations.log
var/cache/dev/appDevDebugProjectContainerCompiler.log
var/cache/dev/appDevDebugProjectContainer.xml.meta
var/cache/dev/appDevDebugProjectContainer.xml
var/cache/dev/appDevDebugProjectContainer.php.meta
var/cache/dev/appDevDebugProjectContainer.php
var/cache/dev/annotations.map
.idea/PIDEV2020.iml
.idea/commandlinetools/Symfony_2_24_20__8_29_PM_s.xml
.idea/commandlinetools/Symfony_23_02_2020_17_22_s.xml
.idea/commandlinetools/Composer_2_24_20__8_29_PM_c.xml
.idea/commandlinetools/Composer_23_02_2020_17_22_c.xml
.idea/workspace.xml
.idea/commandlinetools/Composer_23_02_2020_17_15_c.xml
.idea/commandlinetools/Composer_23_02_2020_17_22_c.xml
.idea/commandlinetools/Composer_2_25_20__7_28_PM_c.xml
.idea/commandlinetools/Symfony_23_02_2020_17_16_s.xml
.idea/commandlinetools/Symfony_23_02_2020_17_22_s.xml
.idea/commandlinetools/Symfony_2_25_20__7_28_PM_s.xml
.idea/workspace.xml
var/cache/dev/appDevDebugProjectContainer.php
var/cache/dev/appDevDebugProjectContainer.php.meta
var/cache/dev/appDevDebugProjectContainer.xml
var/cache/dev/appDevDebugProjectContainer.xml.meta
var/cache/dev/appDevDebugProjectContainerCompiler.log
var/cache/dev/appDevDebugProjectContainerDeprecations.log
var/logs/dev.log
