# Cache and logs (Symfony2)
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep


# Managed by Composer
/var/bootstrap.php.cache


.idea/commandlinetools/Composer_2_13_20__8_16_PM_c.xml
.idea/commandlinetools/Composer_2_15_20__1_19_AM_c.xml
.idea/commandlinetools/Symfony_2_15_20__1_20_AM_s.xml
.idea/workspace.xml

