security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_STUDENT : ROLE_USER
        ROLE_TEACHER : ROLE_USER
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN



    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        main:
            pattern: ^/
            user_checker: security.user_checker
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                login_path: fos_user_security_login

            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }

        - { path: ^/E/application, role: ROLE_ADMIN }
        - { path: ^/S/, role: ROLE_STUDENT }
        - { path: ^/T/, role: ROLE_TEACHER }
        - {path: ^/E/rendez, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/E/lessons, role: [ROLE_ADMIN,ROLE_TEACHER,ROLE_STUDENT] }
        - { path: ^/E/classrooms, role: ROLE_ADMIN }
        - { path: ^/E/equipement, role: ROLE_ADMIN }
        - { path: ^/E/club, role: ROLE_ADMIN }
        - { path: ^/E/event, role: ROLE_ADMIN }
        - { path: ^/E/classes, role: ROLE_ADMIN }
        - { path: ^/E/module, role: ROLE_ADMIN }